<!--/* We are defining the structure of our HTML page for the UKG Enhanced Scheduling System.
/* Ideally, we want the structure to be very simple and easy for both the employees and managers to navigate.
/* In this first section, we begin with rudamentary HTML headers to begin our webpage.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Schedule System</title>
  <link rel="stylesheet" href="/static/css/formpage.css" />
</head>
<body>


<div class="form">
      
      
      <div class="tab-content">
        <div id="signup">   
          <h1>UKG Enhanced Scheduling System</h1>
          
          <form action="/" method="post">

          <div class="field-wrap">
            <label>
              Employee ID<span class="req">*</span>
            </label>
            <input id="employee_id"
                   name="employee_id" 
                   type="number" 
                   inputmode="numeric"
                   required />
          </div>

          <button type="submit" class="button button-block">Sign In</button>

          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->

<script src="/static/js/formpage.js"></script>
</body>
</html>